<f:layout name="Default"/>

<f:section name="Kopfzeile">
	<div class="container">
		<div class="row">
			<f:format.raw>{kopfzeile}</f:format.raw>
		</div>
	</div>
</f:section>

<f:section name="Inhalt">
	<div class="container">
		<div class="row">
			<div class="col"><f:format.raw>{inhalt_1_1}</f:format.raw></div>
		</div>
	</div>
</f:section>

<f:section name="Fusszeile">
	<div class="container">
		<div class="row">
			<div class="col"><f:format.raw>{fusszeile_1_1}</f:format.raw></div>
			<div class="col"><f:format.raw>{fusszeile_1_2}</f:format.raw></div>
			<div class="col"><f:format.raw>{fusszeile_1_3}</f:format.raw></div>
		</div>
	</div>
</f:section>
